/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* /Bootstrap Icons */

/* Global */
*,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "system-ui", sans-serif;
    scroll-behavior: smooth;
}
/* /Global */

/* Body */
body {
    background-image: url(../assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
/* /Body */

/* Dock Menu */
section.dockMenu {
    position: fixed;
    width: max-content;
    height: 80px;
    border-radius: 70px;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding-block: 1rem;
    padding-inline: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    > .dockItem {
        height: 80px;
        transition: all 0.3s ease-in-out;
        padding-inline: 7px;
        display: grid;
        place-content: center;

        > .itemContent {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: grid;
            place-content: center;
            cursor: pointer;
            position: relative;

            > span {
                color: white;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                margin-top: -30px;
                padding-inline: 7px;
                border-radius: 5px;
                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.2);
                width: max-content;
                user-select: none;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            > i {
                font-size: 2rem;
                color: black;
                margin-top: -10px;
            }
        }

        &:hover {
            transform: translateY(-15px) scale(1.3);

            > .itemContent {
                > span {
                    opacity: 1;
                }
            }
        }
    }
}
/* /Dock Menu */

/* Settings */
section.settings-content {
    position: fixed;
    top: 1rem;
    right: 1rem;
    transition: transform 0.7s ease-in-out;
    transform: translateY(calc(-400px - 1rem));

    &.open {
        transform: translateY(0);
    }

    > .menu-settings {
        position: relative;
        width: 280px;
        height: 400px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        padding: 1rem;

        > .close-opt {
            width: calc(280px - 2rem);
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 5px;

            > i {
                font-size: 1.5rem;
                color: white;
                cursor: pointer;
                margin: 0;
                padding: 0;
                transition: font-size 0.3s ease-in-out;

                &:hover {
                    font-size: 1.6rem;
                }
            }
        }
    }

    > .settings {
        position: absolute;
        right: 0;
        bottom: -50px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        place-content: center;
        cursor: pointer;
        animation: settingsDefauld 1s forwards;

        > i {
            font-size: 1.5rem;
            color: white;
            animation: infinityRotation 4s linear infinite;
        }

        &.close {
            animation: settingsClose 0.7s forwards;
        }
    }
}
/* /Settings */

/* Desktop Apps */
section.desktop-apps {
    width: 100%;
    height: calc(100vh - 130px);
    padding: 1rem;
    position: relative;

    > .app {
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        user-select: none;
        cursor: pointer;
        position: absolute;

        > img {
            width: 50px;
            height: 50px;
            -webkit-user-drag: none;
        }

        > span {
            max-width: 100px;
            color: white;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &.isSelected {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 10px;
        }
    }

    > .desktopMarker {
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 255, 0.147);
        border: 1px solid rgba(0, 0, 255, 0.534);
        border-radius: 5px;
        position: absolute;
    }
}
/* /Desktop Apps */

/* -------------------------------------------------------------------------------------------------------------------- */

/* Animations */

/* -- Infinity Rotation -- */
@keyframes infinityRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* -- /Infinity Rotation -- */

/* Close Settings */
@keyframes settingsDefauld {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes settingsClose {
    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(200px);
    }
}
/* /Close Settings */

/* Dock */
@keyframes dockItemAnimation {
    0% {
        margin-top: -20px;
        opacity: 0;
    }

    100% {
        margin-top: -30px;
        opacity: 1;
    }
}
/* /Dock */

/* /Animations */
